<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Modifier Profile</h4>
            <p class="card-category">Completer votre profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="profilMod.prenom" placeholder="Prenom" name="prenom" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="profilMod.nom" placeholder="Nom" name="nom" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="profilMod.datenaissance" placeholder="date de naissance" name="datenaissance" type="date">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="profilMod.email" placeholder="e-mail" name="email" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="profilMod.publicCode" placeholder="Public Code" name="pubcode" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="profilMod.type" placeholder="type" name="type" type="text">
                    <!--GEN/SPE-->
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="profilMod.specialite" matInput placeholder="specialité" name="specialité" type="text">
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right">appliquer</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{profilMedecin.type}} / {{profilMedecin.specialite}}</h6>
            <h4 class="card-title">{{profilMedecin.prenom}} {{profilMedecin.nom}}</h4>
            <div class="card-description">
              <ul class="no-list">
                <li>{{profilMedecin.datenaissance | date:"dd/MM/yyyy"}}</li>
                <li>{{profilMedecin.email}}</li>
                <li>{{profilMedecin.publicCode}}</li>
                <li>{{profilMedecin.type}}</li>
                <li>{{profilMedecin.specialite}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
