<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger" style="position: relative;">
            <h4 class="card-title ">Consultations</h4>
            <button matTooltip="ajouter consultation" [matTooltipPosition]="'above'" style="position: absolute; top: 10px; right: 10px;bottom: 10px;"><i
                class="material-icons">note_add</i></button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Patient ID
                  </th>
                  <th>
                    Notes
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let p of consTable; let i = index">
                    <td>
                      {{p.id}}
                    </td>
                    <td>
                      {{p.date}}
                    </td>
                    <td>
                      {{p.patientID}}
                    </td>
                    <td>
                      {{p.notes}}
                    </td>
                    <td class="td-actions">
                      <button (click)="open(content,i)" mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                        class="btn btn-success btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>
                      <button (click)="consultationService.deleteConsultationtById(p.id)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">delete</i>
                      </button>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Modifier Consultation Patient</h4>
          <p class="card-category">Completer consultation patient</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultationMod.id" placeholder="id" name="id" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultationMod.date" placeholder="date" name="nom" type="date">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultationMod.patientID" placeholder="patient id" name="patientID"
                    type="number">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultationMod.notes" placeholder="Notes" name="Notes" type="text">
                </mat-form-field>
              </div>
            </div>        
            <button mat-raised-button (click)="validate(modIndex)" type="button" class="btn btn-danger pull-right">appliquer</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</ng-template>