<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Simple Table</h4>
            <p class="card-category"><i class="material-icons">note_add</i>ajouter patient</p>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    nom
                  </th>
                  <th>
                    prenom
                  </th>
                  <th>
                    date naissance
                  </th>
                  <th>
                    tel
                  </th>
                  <th>
                    email
                  </th>
                  <th>
                    numero CNAM
                  </th>
                  <th>
                    dsdfsdf
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let p of table">
                    <td>
                      {{p.id}}
                    </td>
                    <td>
                        {{p.nom}}
                    </td>
                    <td>
                        {{p.prenom}}
                    </td>
                    <td>
                        {{p.datenaissance|date:"d/MM/yyyy"}}
                    </td>
                    <td>
                        {{p.tel}}
                    </td>
                    <td>
                        {{p.email}}
                    </td>
                    <td class="text-primary">
                        {{p.CNAM}}
                    </td>
                    <td class="td-actions">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon">
                            <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                            <i class="material-icons">delete</i>
                        </button>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
